<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>Products Page</title>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	  
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
		th:src="@{/webjars/jquery/3.1.1/jquery.min.css}"></script>	  
</head>
<body>

<div class="container">
	<div th:if="${not #lists.isEmpty(products)}">
		<h2>Product List</h2>
		<table class="table table-striped">
			<tr>
				<td>Id</td>
				<td>Description</td>
				<td>Price</td>
				<td>Image URL</td>
				<td>List</td>
				<td>Edit</td>
				<td>Delete</td>
			</tr>
			<tr th:each="product : ${products}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.price}"></td>
				<td th:text="${product.imageUrl}"></td>
				<td><a th:href="${'/product/show/'+product.id}">View</a></td>
				<td><a th:href="${'/product/edit/'+product.id}">Edit</a></td>
				<td><a th:href="${'/product/delete/'+product.id}">Delete</a></td>
			</tr>
		</table>
	</div>
	<div class="row">
			<div class="col-sm-3">
				<a th:href="${'/product/new'}">New Product</a>
			</div>
	</div>
</div>
</body>
</html>